<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChitChat App</title>
</head>
<body>
<h1> ChitChat </h1>
<h2>Signup</h2>
<h3>{{ message }}</h3>
<form method="post" action="/signup">
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <br>
    <label>Email Id:</label>
    <input type="email" name="email">
    <br>
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>